/* Common Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(48, 47, 47);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.noSelect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Error message */
.error-message {
  color: #f84a4a !important;
  margin: 0px !important;
}
.success-message {
  color: #35f035 !important;
  margin: 0px !important;
}
