<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="../css/Common.css" />
    <link rel="stylesheet" href="../css/titleBar.css" />
    <link rel="stylesheet" href="../css/form.css" />
    <link rel="stylesheet" href="../css//LoginWindow.css" />
  </head>
  <body>
    <div class="container">
      <div class="titleBar">
        <div class="title noSelect">
          <img src="../assets/icon.png" />
          Admin Options
        </div>

        <div class="windowControls">
          <ul>
            <li>
              <button id="minimize"><div></div></button>
            </li>
            <li>
              <button id="quit" class="danger"><div>x</div></button>
            </li>
          </ul>
        </div>
      </div>

      <div class="contentContainer">
        <div style="margin: auto;" id="dataContainer">
          <div class="FormArea" style="border: none; width: 100%;">
            <button id="pfet" >Existing Template</button>
            <button id="pnt" >New Template</button>
            <button id="bckp" >Backup Database</button>
            <button id="restore" >Restore Database</button>
          </div>
        </div>
      </div>
    </div>
    <script src="../js/windowControls.js"></script>
    <script src="../js/adminController.js"></script>
  </body>
</html>
